<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <!-- Application-wide parameters -->
    <context-param>
        <description>Application Base URL</description>
        <param-name>metacatalogueBaseUrl</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <description>MySQL User</description>
        <param-name>mysqlUser</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <description>MySQL Password</description>
        <param-name>mysqlPwd</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <description>MySQL Connection URL</description>
        <param-name>mysqlUrl</param-name>
        <param-value></param-value>
    </context-param>
    <context-param>
        <description>Path of text log file</description>
        <param-name>logFilePath</param-name>
        <param-value></param-value>
    </context-param>
    <!-- Metadata Catalogue vLab (servlet declaration) -->
    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>eu.lifewatchgreece.metacatalogue.controllers.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DirectorySearch</servlet-name>
        <servlet-class>eu.lifewatchgreece.metacatalogue.controllers.DirectorySearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdvancedSearch</servlet-name>
        <servlet-class>eu.lifewatchgreece.metacatalogue.controllers.AdvancedSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BrowseSearch</servlet-name>
        <servlet-class>eu.lifewatchgreece.metacatalogue.controllers.BrowseSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FullTextSearch</servlet-name>
        <servlet-class>eu.lifewatchgreece.metacatalogue.controllers.FullTextSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PublishServlet</servlet-name>
        <servlet-class>eu.lifewatchgreece.metacatalogue.controllers.PublishServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>eu.lifewatchgreece.metacatalogue.controllers.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecoveryServlet</servlet-name>
        <servlet-class>eu.lifewatchgreece.metacatalogue.controllers.RecoveryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>eu.lifewatchgreece.metacatalogue.controllers.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileServlet</servlet-name>
        <servlet-class>eu.lifewatchgreece.metacatalogue.controllers.FileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RefineServlet</servlet-name>
        <servlet-class>eu.lifewatchgreece.metacatalogue.controllers.RefineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DocumentServlet</servlet-name>
        <servlet-class>eu.lifewatchgreece.metacatalogue.controllers.DocumentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelperServlet</servlet-name>
        <servlet-class>eu.lifewatchgreece.metacatalogue.controllers.HelperServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>eu.lifewatchgreece.metacatalogue.controllers.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DirectorySearch</servlet-name>
        <url-pattern>/search/directory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdvancedSearch</servlet-name>
        <url-pattern>/search/advanced/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BrowseSearch</servlet-name>
        <url-pattern>/search/browse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FullTextSearch</servlet-name>
        <url-pattern>/search/fulltext</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PublishServlet</servlet-name>
        <url-pattern>/publish/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin/configure</url-pattern>
        <url-pattern>/admin/save_settings</url-pattern>
        <url-pattern>/admin/logs</url-pattern>
        <url-pattern>/admin/clear_mysql_datasets</url-pattern>
        <url-pattern>/admin/recovery</url-pattern>
        <url-pattern>/admin/recover_directory</url-pattern>
        <url-pattern>/admin/recover_metadata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RefineServlet</servlet-name>
        <url-pattern>/refinement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DocumentServlet</servlet-name>
        <url-pattern>/documents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/getDatasetFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileServlet</servlet-name>
        <url-pattern>/getFile/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelperServlet</servlet-name>
        <url-pattern>/helper/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>*.js</url-pattern>
        <url-pattern>*.css</url-pattern>
        <url-pattern>*.png</url-pattern>
        <url-pattern>*.gif</url-pattern>
        <url-pattern>*.woff</url-pattern>
        <url-pattern>*.ttf</url-pattern>
    </servlet-mapping>    
    <session-config>
        <session-timeout>
            180
        </session-timeout>
    </session-config>
</web-app>
